@charset "utf-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

header {
    width: 100%;
    height: 119px;
    position: sticky;
    top: 0px;
    background-color: #fff;
    z-index: 100;
}

#head {
    width: 1200px;
    height: 77px;
    margin: 0 auto;
}

#iconl {
    width: 30px;
    height: 30px;
    float: left;
    margin: 22px 0 0 3px;
}

#iconl>a>img {
    width: 100%;
    width: 100%;
}

#logo {
    text-align: center;
    margin: 0 auto;
    width: 118.781px;
    height: 30px;
    padding: 22px;
}

#logo>a>img {
    width: 100%;
    height: 100%;
}

#iconr {
    width: 130px;
    height: 24px;
    float: right;
    margin: -52px 0 0 0px;
}

#iconr>a>img {
    width: 34px;
    height: 29px;
    margin: 0 0px 0 5px;
    text-align: center;
}

#navi {
    width: 100%;
    height: 40px;
    margin: 0 auto;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

#navbox {
    width: 1200px;
    height: 39px;
    margin: 0 auto;
    z-index: -50;
}

#navbox>a>img {
    margin: 8px 0 0 3px;
    float: left;
}

#brands {
    width: 105px;
    height: 30px;
    border-right: 1px solid #000;
    float: left;
    margin: 5px 0px 0px 20px;
    line-height: 18px;
}

#brands>a {
    text-decoration: none;
}

#brands>a>p {
    font-size: 13px;
    color: #000;
    margin: 0px 0px 5px 34px;
    padding: 5px 0px;
    font-family: 'Pretendard',sans-serif;
    line-height: 19px;
    font-weight: 440;
}


#new {
    width: 205px;
    height: 30px;
    float: left;
    margin: -0.5px 0px 0px 2px;
    padding: 5.5px 0px;
}

#new>ul>a>li {
    font-size: 13px;
    text-decoration: none;
    float: left;
    margin: 0px 3px 5px 17px;
    padding: 5px 0px;
    color: #000;
    font-family: 'Pretendard',sans-serif;
    line-height: 19px;
    font-weight: 440;
}

#line {
    width: 1px;
    height: 30px;
    border-left: 1px solid #000;
    float: left;
    margin: 5px 0px 0px 2px;
}


nav {
    width: 500px;
    height: 30px;
    float: left;
    margin: -0.5px 0px 0px 3px;
    line-height: 18px;
    padding: 5.5px 0px;
}

nav>ul>a>li {
    font-size: 13px;
    text-decoration: none;
    float: left;
    margin: 0px 3px 5px 17px;
    padding: 5px 0px;
    color: #000;
    font-family: 'Pretendard',sans-serif;
    line-height: 19px;
    font-weight: 440;
}

#information {
    width: 218px;
    height: 30px;
    border-left: 1px solid #000;
    float: right;
    margin: -0.5px 0px 0px 5px;
    line-height: 18px;
    padding: 5.5px 0px;
}

#information>ul>a>li {
    font-size: 13px;
    text-decoration: none;
    float: left;
    margin: 0px 0px 5px 20px;
    padding: 5px 0px;
    color: #000;
    font-family: 'Pretendard',sans-serif;
    line-height: 19px;
    font-weight: 440;
}

.dropdown1 {
    background-color: #fff;
    width: 100%;
    height: 430px;
    position: absolute;
    display: none;
}

.dropdown1>.dropcont {
    width: 1194px;
    margin: 0 auto;
    font-family: 'Pretendard',sans-serif;
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
}

.dropdown1>.dropcont>div {
    width: 378px;
    height: 25px;
    position: relative;
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 5px;
}

.dropdown1>.dropcont>div>.dropcont_text {
    font-family: 'Pretendard', sans-serif;
    font-size: 15px;
    color: #101820;
    line-height: 18px;
}

.dropdown1>.dropcont>div>#view>a>span {
    font-size: 12px;
    margin: 0 3px 0 0px;
    color: #000;
    font-family: 'Pretendard', sans-serif;
}

.dropdown1>.dropcont>div>#view>a {
    float: right;
    width: 44px;
    height: 22px;
    position: absolute;
    top: 2px;
    right: 10px;
    text-decoration: none;
}

.dropdown2 {
    background-color: #fff;
    width: 100%;
    height: 430px;
    position: absolute;
    display: none;
}

.dropdown2>.dropcont {
    width: 1194px;
    margin: 0 auto;
    font-family: 'Pretendard',sans-serif;
    padding-top: 32px;
}

.dropdown2>.dropcont>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dropdown2>.dropcont>ul>li {
    width: 14.57%;
}

.dropdown2>.dropcont>ul>li>.lititle {
    font-family: 'Pretendard', sans-serif;
    font-size: 15px;
    color: #000;
    line-height: 18px;
    width: 173px;
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 10px;
    font-weight: 600;
    display: block;
}

.dropdown2>.dropcont>ul>li a {
    text-decoration: none;
    color: #000;
}

.dropdown2>.dropcont>ul>li>ul {
    padding-top: 15px;
}
.dropdown2>.dropcont>ul>li>ul>li {
    padding-bottom: 15px;
}

.fog {
    display: none;
    position: fixed;
    z-index: -1;
    top: 153px;
    left: 0;
    width: 100%;
    height: calc(100% - 119px);
    background: linear-gradient(#090C0E,#84888c);
    opacity: 60%;
}

footer {
    width: 100%;
    height: 277px;
    border-top: 1px solid black;
}

#footbox {
    width: 1200px;
    height: 203px;
    padding: 37px 0 37px 0px;
    margin: 0 auto;
}

#footbox>#leftfoot {
    width: 354px;
    height: 190px;
    float: left;
}

#footbox>#leftfoot>#footlogo {
    width: 100px;
    height: 14.271px;
    margin: 0 0 21px 0px;
}

#footbox>#leftfoot>#footlogo>a>img {
    width: 100%;
    height: 100%;
}

#footbox>#leftfoot>a {
    width: 353px;
    height: 15px;
    font-size: 13px;
    margin-bottom: 7px;
    text-decoration: none;
    color: #979797;
    line-height: 15px;
    display: block;
    font-family: 'Pretendard',sans-serif;
}

#footbox>#leftfoot>a:hover {
    color: #555555;
}

#footbox>#leftfoot>#address {
    width: 354px;
    height: 54px;
    margin: 41.7px 0 4.3px 0px;
    font-size: 12px;
    color: #767676;
    line-height: 18px;
    font-family: 'Pretendard',sans-serif;
}

#footbox>#leftfoot>p {
    font-size: 11px;
    color: #b7b7b7;
    font-family: 'Pretendard',sans-serif;
}

#footbox>#rightfoot {
    width: 300px;
    height: 171px;
    float: right;
    margin-top: 32px;
}

#footbox>#rightfoot>#contactbox {
    width: 300px;
    height: 72px;
    font-size: 12px;
    color: #767676;
    line-height: 18px;
    font-family: 'Pretendard',sans-serif;
}

#footbox>#rightfoot>#contactbox>#email {
    width: 170px;
    height: 36px;
    float: left;
}

#footbox>#rightfoot>#contactbox>#email>strong {
    display: block;
}

#footbox>#rightfoot>#contactbox>#email>a {
    text-decoration: none;
    color: #767676;
}

#footbox>#rightfoot>#contactbox>#chat {
    width: 120px;
    height: 72px;
    float: right;
}

#footbox>#rightfoot>#contactbox>#chat>strong {
    line-height: 18px;
}

#footbox>#rightfoot>strong {
    margin: 16px 0 37px 0;
    font-size: 12px;
    display: block;
    color: #767676;
    letter-spacing: -0.5;
    line-height: 18px;
    font-family: 'Pretendard',sans-serif;
}

#footbox>#rightfoot>a {
    color: #767676;
    font-size: 10px;
    display: block;
    line-height: 18px;
    font-family: 'Pretendard',sans-serif;
}

#footbox>#rightfoot>a:hover {
    color: #464646
}