@charset "utf-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

section {width:1194px; height: 5242.500px; margin:0 auto;}
#content {width:100%; height: 4629.190px; margin:45px 0 0 0px;}
#content > #path > ol {display: block; width: 100%; height: 24px;}
#content > #path > ol > li {float: left;}
#content > #path > ol > li:not(:first-child):before {content:">"; color:#979797; margin:0px 4px;}
#content > #path > ol > li > a {font-size: 14px; font-family: 'Pretendard',sans-serif; text-decoration: none; color:#979797;}

#content > #detail {width: 100%; height: 4574.190px; margin: 31px 0px 0px 0px;}
#content > #detail > #imglist {width: 73.875px; height: 931px; float: left;}
#content > #detail > #imglist > ul {width: 100% ; height: 506.828px;}
#content > #detail > #imglist > ul > .selectedimg {width: 100%; height: 97.453px; margin:0px 0px 8px 0px;}
#content > #detail > #imglist > ul > .selectedimg > a > img {width: 100%; height: 100%;}
#content > #detail > #imglist > ul > .listimg {width: 100%; height: 73.875px; margin:0px 0px 8px 0px;}
#content > #detail > #imglist > ul > .listimg > a > img {width: 100%; height: 100%;}

#content > #detail > #imgdetail {width: 683.812px; height: 4521.190px; margin: 0px 14.156px; float: left;}
#content > #detail > #imgdetail > ul {width: 100% ; height: 4521.190px;}
#content > #detail > #imgdetail > ul > .selectedimg {width: 100%; height: 902.125px; }
#content > #detail > #imgdetail > ul > .selectedimg > a > img {width: 100%; height: 100%;}
#content > #detail > #imgdetail > ul > .listimg {width: 100%; height: 683.812px; margin:40px 0px 0px 0px;}
#content > #detail > #imgdetail > ul > .listimg > a > img {width: 100%; height: 100%;}
#content > #detail > #productinfo {width: 378.016px; height: 931px; margin:0px 0px 0px 29.969px; float: left; background-color: firebrick;}