@charset "utf-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

section {
    width: 1194px;
    height: 5450px;
    margin: 0 auto;
}

#content {
    width: 100%;
    height: 4629.190px;
    margin: 45px 0 0 0px;
}

#content>#path>ol {
    display: block;
    width: 100%;
    height: 24px;
}

#content>#path>ol>li {
    float: left;
}

#content>#path>ol>li:not(:first-child):before {
    content: ">";
    color: #979797;
    margin: 0px 4px;
}

#content>#path>ol>li>a {
    font-size: 14px;
    font-family: 'Pretendard', sans-serif;
    text-decoration: none;
    color: #979797;
}

#content>#detail {
    width: 100%;
    height: 4574.190px;
    margin: 31px 0px 0px 0px;
}

#content>#detail>#imglist {
    width: 73.875px;
    height: 931px;
    float: left;
}

#content>#detail>#imglist>ul {
    width: 100%;
    height: 506.828px;
}

#content>#detail>#imglist>ul>.selectedimg {
    width: 100%;
    height: 97.453px;
    margin: 0px 0px 8px 0px;
}

#content>#detail>#imglist>ul>.selectedimg>a>img {
    width: 100%;
    height: 100%;
}

#content>#detail>#imglist>ul>.listimg {
    width: 100%;
    height: 73.875px;
    margin: 0px 0px 8px 0px;
}

#content>#detail>#imglist>ul>.listimg>a>img {
    width: 100%;
    height: 100%;
}

#content>#detail>#imgdetail {
    width: 683.812px;
    height: 4521.190px;
    margin: 0px 14.156px;
    float: left;
}

#content>#detail>#imgdetail>ul {
    width: 100%;
    height: 4521.190px;
}

#content>#detail>#imgdetail>ul>.selectedimg {
    width: 100%;
    height: 902.125px;
}

#content>#detail>#imgdetail>ul>.selectedimg>a>img {
    width: 100%;
    height: 100%;
}

#content>#detail>#imgdetail>ul>.listimg {
    width: 100%;
    height: 683.812px;
    margin: 40px 0px 0px 0px;
}

#content>#detail>#imgdetail>ul>.listimg>a>img {
    width: 100%;
    height: 100%;
}

#content>#detail>#productinfo {
    width: 378.016px;
    height: 931px;
    margin: 0px 0px 0px 29.969px;
    float: left;
}

#content>#detail>#productinfo>#headarea {
    width: 100%;
    height: 128.391px;
    margin-bottom: 20px;
}

#content>#detail>#productinfo>#headarea>a {
    width: 100%;
    height: 20px;
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #767676;
    line-height: 20px;
    padding-bottom: 10px;
    margin-bottom: 13px;
    border-bottom: 1px solid #101820;
    text-decoration: none;
    font-family: 'Pretendard', sans-serif;
}

#content>#detail>#productinfo>#headarea>#headareainfo {
    width: 100%;
    height: 84.391px;
}

#content>#detail>#productinfo>#headarea>#headareainfo>a {
    display: inline;
}

#content>#detail>#productinfo>#headarea>#headareainfo>a>img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    float: right;
    margin-right: 5px;
}

#content>#detail>#productinfo>#headarea>#headareainfo>h2 {
    font-family: 'Pretendard', sans-serif;
    display: block;
    font-size: 22px;
    font-weight: 500;
    color: #101820;
    line-height: 1.2;
    margin-right: 35px;
}

#content>#detail>#productinfo>#headarea>#headareainfo>#pricearea {
    width: 100%;
    height: 33px;
    margin-top: 25px;
    line-height: 25px;
    position: relative;
}

#content>#detail>#productinfo>#headarea>#headareainfo>#pricearea>span {
    display: inline-block;
    font-size: 21px;
    font-weight: 600;
    color: #101820;
    font-family: 'Pretendard', sans-serif;
}

#content>#detail>#productinfo>#headarea>#headareainfo>#pricearea>a {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 11px;
    color: #101820;
    line-height: 13px;
    font-family: 'Pretendard', sans-serif;
}

#content>#detail>#productinfo>#buyarea {
    width: 336.016px;
    height: 129px;
    padding: 15px 21px;
    background-color: #f7f7f7;
}

#content>#detail>#productinfo>#buyarea>select {
    width: 336px;
    height: 30px;
    height: 32px;
    font-size: 13px;
    border: 1px solid #e0e0e0;
    font-family: 'Pretendard', sans-serif;
    ;
    color: #101820;
    vertical-align: middle;
    margin: 0 auto;
    padding: 0 16px 0 10px;
}

#content>#detail>#productinfo>#buyarea>#purchase {
    width: 336.016px;
    height: 52px;
    margin: 15px 0 0 0px;
}

#content>#detail>#productinfo>#buyarea>#purchase>#bnt1 {
    width: 126.016px;
    height: 18px;
    border: 1px solid #e0e0e0;
    padding: 18px 16px 14px 16px;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    color: #101820;
    font-family: 'Pretendard', sans-serif;
    float: left;
    text-align: center;
    background-color: #fff;
    margin-right: 15.7px;
    vertical-align: middle;
}

#content>#detail>#productinfo>#buyarea>#purchase>#bnt2 {
    width: 126.016px;
    height: 18px;
    border: 1px solid #e0e0e0;
    padding: 18px 16px 14px 16px;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    font-family: 'Pretendard', sans-serif;
    float: left;
    text-align: center;
    background-color: #101820;
    vertical-align: middle;
}

#content>#detail>#productinfo>#buyarea>#purchase>#bnt1:hover {
    background-color: #f3f3f3
}

#content>#detail>#productinfo>#buyarea>#purchase>#bnt2:hover {
    background-color: #555
}

#content>#detail>#productinfo>#descript {
    width: 100%;
    height: 239px;
    margin-top: 25px;
}

#content>#detail>#productinfo>#descript>ul {
    width: 100%;
    height: 36px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 22px;
}

#content>#detail>#productinfo>#descript>ul>li {
    width: 113.391px;
    height: 15px;
    padding: 10px 0px;
    float: left;
    text-align: center;
    font-family: 'Pretendard', sans-serif;
    font-size: 12px;
    color: #979797;
    cursor: pointer;
}

#content>#detail>#productinfo>#descript>ul>li:not(:last-child) {
    margin: 0 18.891px 0px 0px;
}

#content>#detail>#productinfo>#descript>ul>li:first-child {
    color: #101820;
    border-bottom: 2px solid #101820;
}

#content>#detail>#productinfo>#descript>#textbox {
    width: 100%;
    height: 180px;
    overflow-y: scroll;
    font-family: 'Pretendard', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: #101820;
}

#content>#detail>#productinfo>#descript>#textbox::-webkit-scrollbar {
    width: 2px;
    background: #f7f7f7;
}

#content>#detail>#productinfo>#descript>#textbox::-webkit-scrollbar-thumb {
    height: 5px;
    background: #101820;
    border-radius: 10px;
}

#content>#detail>#productinfo>#supply {
    width: 100%;
    height: 100px;
    margin-top: 25px;
    position: relative;
    background-color: tan;
}

#content>#detail>#productinfo>#supply>a>img {
    width: 100%;
    height: 100%;
}

#content>#detail>#productinfo>#supply>a>p {
    position: absolute;
    top: 34%;
    left: 0;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    font-family: 'Pretendard', sans-serif;
    width: 338.016px;
    height: 39px;
    margin: 0px 20px;
    vertical-align: top;
}

#content>#detail>#productinfo>#supply>a>p>span {
    display: block;
    font-size: 10px;
    font-weight: 400;
    margin-top: 4px;
}

#content>#recent {
    width: 100%;
    height: 482.109px;
    padding-top: 27px;
    margin: 108px 0 223px 0px;
    border-top: 1px solid #101820;
}

#content>#recent>#top {
    width: 100%;
    height: 20px;
    position: relative;
    padding-bottom: 10px;

}

#content>#recent>#top>h3 {
    font-size: 20px;
    font-weight: 600;
    color: #101820;
    margin-bottom: 10px;
}

#content>#recent>#top>#view>a>span {
    font-size: 12px;
    margin: 0 3px 0 0px;
    color: #000;
}

#content>#recent>#top>#view>a {
    float: right;
    width: 44px;
    height: 22px;
    position: absolute;
    top: 5px;
    right: 10px;
    text-decoration: none;
}

#content>#recent>#recentbox {
    width: 100%;
    height: 452.109px;
}

#content>#recent>#recentbox>.rebox {
    width: 276px;
    height: 452.109px;
    float: left;
}

#content>#recent>#recentbox>.rebox:not(:last-child) {
    margin: 0 30px 0 0px;
}

#content>#recent>#recentbox>.rebox>.imgbox {
    width: 100%;
    height: 364px;
}

#content>#recent>#recentbox>.rebox>.imgbox>a>img {
    width: 100%;
    height: 100%;
}

#content>#recent>#recentbox>.rebox>.description {
    width: 100%;
    height: 78px;
    margin: 10px 0 0 0px;
}

#content>#recent>#recentbox>.rebox>.description>h6>a {
    width: 276px;
    height: 40px;
    font-size: 14px;
    text-decoration: none;
    color: #000;
    display: block;
    font-family: 'Pretendard', sans-serif;
    font-weight: 600;
}

#content>#recent>#recentbox>.rebox>.description>strong {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #101820;
}